.arrangeReviews {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 6%;
    margin-bottom: 10em;
    min-width: 700px;
    width: 900px;
}

.boxes {
        width: 850px;
        min-width: 700px;
        color: rgb(108, 103, 103);
        height: 180px;
        margin-right: auto;
        margin-left: auto;
        padding: 25px 40px;
        border-radius: 5px;
        border: 1px solid rgba(184, 179, 179, 0.132);
        filter: drop-shadow(2px 2px 20px rgba(172, 172, 172, 0.199));
        margin: 20px;
        background-color: rgba(215, 234, 237, 0.132);
}

.styles-module_carousel-arrow__26sRw {
        height: 10px;
        width: 10px;
        background-color: transparent;
        border: transparent;
        margin: 0 20px;
}

.div1Review {
        border: 1px solid rgb(227, 3, 3);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
}

.div2Review {
        border: 3px solid rgba(10, 211, 54, 0.221);
        height: 70px;
        margin-top: 10px;
}