.organizeSegment {
        min-width: 1100px;
        z-index: -10;
        padding-top: 10%;
        /* border: 8px solid orange; */
}

.arrangeReviews {
        display: flex;
        flex-direction: column;
        margin-right: 10%;
        margin-left: 6%;
        margin-bottom: 10em;
        min-width: 700px;
        width: 900px;
        /* border: 8px solid orange; */
}

.centeringBoxReview {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
}

.boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(2px 2px 20px rgba(172, 172, 172, 0.199));
}

.boxes, .imgBoxReview {
        width: 400px;
        min-width: 500px;
        color: white;
        height: 350px; 
        padding: 25px 50px;
        border-radius: 5px;
        margin: 20px;
}
.carouselDiv {
        background-image: url(https://i.postimg.cc/SRmTmCwp/TRENDAGO-BANNER.png);
        filter: drop-shadow(6px 2px 8px rgba(17, 16, 16, 0.577));
        padding: 40px 0;
        background-repeat: no-repeat;
        background-color: rgb(255, 255, 255);
        background-size: cover;
        /* border: 2px solid yellow; */
        /* background-position: center; */
        /* filter: blur(3px); */
        /* height: 600px; */
        /* opacity: .8; */
        /* background-color: #63a7b1; */
}

.reviewHeader {
        border: 2px solid orange;
        display: flex;
        justify-content: center;
        
}

.imgBoxReview {
        filter: drop-shadow(6px 6px 8px rgba(17, 16, 16, 0.577));
        background-position: center;
        filter: blur(3px);
        opacity: .8;
        border-radius: 15px;
        /* width: 300px; */
        /* border: 20px solid white; */
}

.styles-module_carousel-arrow__26sRw {
        margin: 0 -20px;
        /* height: 10px;
        width: 10px;
        background-color: transparent;
        border: transparent; */
}

.div1Review {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10px;
        color: white;
        /* border: 3px solid rgb(255, 7, 7); */
}

.div2Review {
        height: 70px;
        font-style: oblique;
        color: white;
        margin-top: 25px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 21px;
        line-height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        align-content: center;
        /* border: 3px solid rgb(10, 211, 53); */
}

.div2Review p, .blackContainer p {
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        align-content: center;
}

.reviewNameRegion {
        display: flex;
        /* border: 3px solid rgb(0, 136, 255); */
}

.reviewFirstName {
        font-size: 30px;
        margin: 0;
        font-family: 'Cormorant Garamond', serif;
        color: white;
        font-weight: 900;
}

.customerReviewsDiv {
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 1%;
        font-family: 'Cormorant Garamond', serif;
        margin-top: 0%;
        color: rgb(57, 58, 58);
        letter-spacing: 1px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.178);
        /* font-weight: 900; */
}

.reviewUserRegion {
        color: white;
        font-size: 13px;
}

.reviewUserPic, .styles-module_item-container__a8zaY img {
        box-shadow: 0px 0px 0px 10px #c0c2c2;
        border: 8px solid white;
        height: auto;
        width: auto;
        border-radius: 50%;
        outline: 50%;
        width: 80px;
        margin-left: -15px;
        margin-top: -15px;
        cursor: none;
}

.reviewPdiv {
        margin-left: 20px;
        display: flex;
        justify-content: normal;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
}

.blackContainer {
        filter: drop-shadow(6px 6px 8px rgba(17, 16, 16, 0.577));
        background-color: #ffffff;
        border-radius: 15px;
        min-width: 400px;
        height: 220px;
        min-height: 200px;
        width: 600px;
        padding: 10px 12px;
        /* border: 2px solid coral; */
        /* margin: 20px 0; */
        /* background-color: #000000; */
        /* opacity: .8; */
}

.blackContainer p {
        color: rgb(28, 28, 28)}

.reviewStar, .styles-module_item-provider__YgMwz {
        font-size: 22px;
        padding-right: 10px;
}

.aboutCollage {
        filter: drop-shadow(6px 6px 8px rgba(17, 16, 16, 0.577));
        height: 600px;
        width: 300px; 
        overflow: hidden;
        transform: scale(1.2);
        /* border: 2px solid rgba(119, 216, 9, 0.842); */
} 

.ui.grid>.row>.column {
        min-width: 550px;
}


