.searchDiv {
    /* border: 1px solid rgba(255, 17, 0, 0.55); */
    border-radius: 30px;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: -10px;
    display: flex;
    justify-content: center;
}

.searchDiv i.icon.search {
    margin-left: -50px;
    margin-top: -2px;
}

.input--wide {
    /* border: 2px solid yellow; */
    /* border: none; */
    width: 700px;
    border: 1px solid rgba(0, 128, 128, 0.55);
    border-radius: 30px;
    /* margin-right: 25%;
    margin-left: 25%; */
    margin-top: -10px;
    margin-right: 20px;
    padding: 7px 25px;
    display: flex;
    justify-content: space-between;
}

.search {
    /* border: 2px solid rgb(187, 0, 238); */
    color: gray;
}

.tileInfoDiv {
    margin-top: -2px;
    /* border: 2px solid rgb(189, 82, 251); */
    /* z-index: 10; */
}

.tileDetail {
    color: gray;
    /* border: 2px solid rgb(0, 79, 207); */
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-content: center;
}

.tileDetail a {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.tileRegion {
    font-size: 12px;
    color: rgba(128, 128, 128, 0.521);
}

.profileIMGicon {
    box-shadow: 0px 0px 0px 3px #bbbbbb;
    border: 2px solid white;
    height: 50px;
    width: auto;
    border-radius: 50%;
    outline: 50%;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: -50px;
    z-index: 20;
    /* width: 120px; */
}

.profileIMGicon:hover {
    box-shadow: 0px 0px 0px 3px #63A6B1;
    border: 2px solid white;
    height: 50px;
    width: auto;
    border-radius: 50%;
    outline: 50%;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: -50px;
    z-index: 20;
    /* width: 120px; */
}

/* ITEM DETAIL INFO */
/*------------------*/
.oneItemDetailTile {
    padding-top: 18%;
    width: 700px;
    display: flex;
    justify-content: center;
    filter: drop-shadow(2px 2px 20px rgba(40, 38, 38, 0.208));
    /* flex-direction: row-reverse; */
    /* border: 2px solid purple; */
}

.oneItemInfo {
    /* border: 2px solid lime; */
    border: 2px solid #63a7b180;
    width: 275px;
    height: 472px;
    margin-top: 2em;
    padding-top: 10px;
}

.itemTopInfo {
    border-bottom: 1px solid rgba(113, 113, 113, 0.11);
    height: 260px;
    /* border: 5px solid rgb(255, 82, 8); */
    /* background-color:  #55909a; */
    /* background-color:  #cfd8da; */
}

.itemInfoBtns {
    /* border: 2px dotted rgb(11, 187, 105); */
    display: flex;
    justify-content: flex-end;
    margin-top: -5px;
}

.oneItemTileIMG {
    height: 475px;
    width: 325px;
    margin-top: 2em;
    padding: 5px 5px;
    filter: drop-shadow(0px 0px 20px rgba(172, 172, 172, 0.199));
    /* border: 2px solid rgba(165, 39, 39, 0.219);     */
    /* border: 2px solid rgba(218, 216, 216, 0.219);     */
}

.oneTileUserPic {
    box-shadow: 0px 0px 0px 3px #bbbbbb;
    border: 2px solid white;
    height: 50px;
    width: auto;
    border-radius: 50%;
    outline: 50%;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: -50px;
    z-index: 20;
}

.itemSummaryTitleP {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    color: rgb(41, 44, 46);
    font-weight: 600;
    padding: 15px 25px;
    line-height: 32px;
    display: block;
    /* font-style: oblique; */
    /* filter: drop-shadow(2px 2px 20px rgb(40, 38, 38)); */
    /* align-content: right; */
}

.oneTileIMGicon {
    box-shadow: 0px 0px 0px 3px #bbbbbb;
    border: 2px solid white;
    height: 100px;
    width: auto;
    border-radius: 50%;
    outline: 50%;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: -70px;
    z-index: 20;
}

.oneTileIMGicon:hover {
    box-shadow: 0px 0px 0px 5px #63A6B1;
    border: 2px solid white;
    transform: scale(1.05);
    filter: drop-shadow(2px 2px 20px rgba(40, 38, 38, 0.208));
}

.oneTileDetail {
    font-size: 20px;
}

.keywordDetailDiv {
    color: gray;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    /* padding-left: 5px;
    padding-right: 5px; */
    display: flex;
    justify-content: center;
    /* border: 2px solid rgb(190, 30, 205); */
}

.X {
    margin-left: 5px;
    /* position: inherit; */
    z-index: 50;
}


.X button {
    font-size: 30px;
    font-weight: 100;
    color: rgba(128, 128, 128, 0.212);
    background-color: transparent;
    border: none;
    z-index: 100;
    margin-right: 5px;
}

.X button:hover {
    font-size: 30px;
    font-weight: 100;
    color: black;
    background-color: transparent;
    border: black;
}

.change {
    /* margin-left: 76%; */
    /* position: inherit; */
    z-index: 50;
}

.change button {
    font-size: 30px;
    font-weight: 100;
    color: rgba(128, 128, 128, 0.212);
    background-color: transparent;
    border: none;
    z-index: 50;
}

.trashBtnItem{
    font-size: 25px;
    font-weight: 100;
    color: rgba(255, 13, 13, 0.201);
    background-color: transparent;
    border: none;
}

.trashBtnItem:hover {
    font-size: 25px;
    font-weight: 100;
    color: rgb(252, 0, 0);
    background-color: transparent;
    border: none;
    z-index: 100;
    border: red;
}

.change button:hover {
    font-size: 30px;
    font-weight: 100;
    color: #63A6B1;
    background-color: transparent;
    border: #63A6B1;
}

.arrangeKeywords {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    /* border: 2px solid rgb(50, 215, 152); */
}

.keywordsTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0, 128, 128, 0.205);
    /* border: 2px solid pink; */
}

.keyWordBubbles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    /* padding: 10px; */
    width: 200px;
    flex-wrap: wrap;
    /* border: 2px solid blue; */
}

.keyWordSelect {
    margin: 5px;
    border: 1px solid #63A6B1;
    padding: 3px 5%;
    border-radius: 15px;
    font-size: 13px;
    background-color: transparent;
    color: gray;
}

.keyWordSelect:hover {
    background-color: #63A6B1;
    color: white;
}

/* EDIT ITEM INFO */

.formAdjustPosition {
    padding-top: 18%;
}

.itemFormContainerDiv {
    background-color: rgb(255, 255, 255);
    /* margin-top: 50px; */
    width: 640px;
    border-radius: 20px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-bottom: 30px;
    filter: drop-shadow(rgb(220, 226, 225) 2px 2px 10px);
}

.itemSummaryInput {
    /* width: 400px; */
    color: gray;
    font-weight: 800;
    font-size: 23px;
    font-family: 'Cormorant Garamond', serif;
    border: 1px solid rgba(128, 128, 128, 0.331);    
    /* border-left: 1px solid rgba(128, 128, 128, 0.331); */ 
    border-radius: 3px;
    padding-left: 10px;
    color: gray;
}

.itemFields {
    color: rgb(104, 104, 104);
    border-radius: 3px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.5;
    width: 507px;
}

.addItemFields input {
    border: none;
    border-left: 1px solid rgba(128, 128, 128, 0.331);
    padding-left: 10px;
    font-size: 15px;
    padding: 9px 2px;
    color: rgb(128, 128, 128);
    /* border: 1px solid rgba(128, 128, 128, 0.452); */
    border-radius: 3px;
}

.itemInputFields {
    padding-bottom: 20px;
    padding-left: 20px;
}

.allItemFields {
    font-size: 15px;
    padding: 0px
}

.allItemFields fieldset {
    border: none;
}

.addItemTitle {
    padding-top: 10px;
    padding-left: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.titleBox1 {
    /* border: 2px solid orange; */
    margin-top: 10px;
    margin-left: 15px;
}

.titleBox2 {
    margin-top: 10px;
    margin-left: 10px;
    /* border: 2px solid rgb(60, 54, 44); */
}

.exitItem button {
    font-size: 30px;
    font-weight: 100;
    color: rgba(128, 128, 128, 0.212);
    background-color: transparent;
    border: none;
    z-index: 100;
}

.addItemTitle {
    color: rgba(171, 169, 169, 0.692);
    font-size: 15px;
    margin-bottom: 10px;
}

.addItemTitle p {
    margin-bottom: 10px;
}

.clearLinkDiv {
    /* border: 2px solid coral; */
    display: flex;
    justify-content: flex-end;
    margin: 0 27%;
}

.clearLink {
    /* border: 2px solid blue; */
    padding-top: 5px;
}

/* 
.centerLoaderHome {
    display: flex;
    justify-content: center;
    border: 2px solid coral;
    width: auto;

} */

/* SAVE/UNSAVE BTN BACKGROUND DISABLED
i.icon:before, i.icon:after, .suitcase:before, .suitcase::after, i.icon:hover, i.icon:active {
    background: none;
} */

/* 
.suitCaseSaveBtn, .suitCaseSaveBtn:active, .suitCaseSaveBtn:after, .ui.icon.button, .ui.icon.button:after, .ui.icon.button:active {
    position: normal;
    z-index: 10;
    background: transparent;
} */

