.aside_and_mainFeed {
    /* border: 2px solid purple; */
    display: flex;
    margin-right: 12%;
    margin-left: 12%;
    margin-bottom: 10em;
    padding-top: 18%;
}

.aside_and_mainFeed_home {
    /* border: 2px solid purple; */
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10em;
    /* padding-top: 90px; */
}

.searchBarHomeDiv {
    padding-top: 18%;
}

/* ASIDE PANEL */
.asidePanelHome {
    /* border: 2px solid rgba(199, 180, 146, 0.205); */
    border-radius: 10px;
    /* padding-top: 2em; */
    margin-top: 2em;
    margin-right: 2em;
    margin-left: 2em;
    /* padding-top: 30px 30px; */

}

.asideSearchDiv {
    /* border: 2px solid blue; */
    /* margin: 3px 30px; */
    padding: 30px 30px;
    margin: 0px;
    background: gray;
    display: flex;
    justify-content: center;
    align-content: center;
    filter: drop-shadow(1px 1px 2px rgba(74, 72, 10, 0.694));
}

.asideAddNewDiv {
    /* border: 2px solid red; */
    /* margin: 20px 30px; */
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 60px;
}

.regionBannerLinks {
    display: flex;
    flex-direction: column;
}

.regionBanner {
    height: 120px;
    width: 275px;
    /* border: 1px solid rgba(159, 159, 159, 0);   */
    margin-bottom: 2px;  
}

.addItemBanner {
    filter: drop-shadow(0px 0px 20px rgba(172, 172, 172, 0.199));
    height: 150px;
    width: 275px;
    border-radius: 0px 5px 0px 5px;
    margin-bottom: 2px;  
    transition: .5s;
    /* border: 1px solid rgba(159, 159, 159, 0);   */
    /* filter: grayscale(); */
}

.addItemBanner:hover {
    filter: grayscale(0);
    filter: blur(2px);
    /* transform: scale(1.01); */
}

.h4RegionLink {
    filter: drop-shadow(0px 0px 20px rgba(172, 172, 172, 0.199));
    display: flex;
    padding: 20px 10px;
    background-color: #63A6B1;
    /* border: 2px solid darkslategray; */
    font-family: 'Cormorant Garamond', serif;
    align-content: center;
    font-size: 25px;
    letter-spacing: 1px;
    color: white;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 0;
}

/* MAIN FEED */
/* .mainFeedHome {
    border: 2px solid gold;
} */

.organizeTilesDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 3em;
    /* border: 5px dotted red; */
    /* padding-top: 18%; */
    /* padding-left: 3em;
    padding-right: 3em; */
}

.itemTile {
    height: 375px;
    width: 250px;
    margin-top: 2em;
    padding: 5px 5px;
    transition: .5s;
    filter: drop-shadow(0px 0px 20px rgba(172, 172, 172, 0.199));
    /* border: 2px solid rgba(218, 216, 216, 0.219);     */
}

.itemTile:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 10px #63a7b162);
}

.itemIMG {
    padding: 5px 5px;
    height: 375px;
    width: 250px;
    margin-top: 2em;
    /* border: 2px solid rgb(218, 216, 216);     */
}

/* ONE TILE STYLING */
.oneItemTile {
    height: auto;
    border: 2px solid rgb(218, 216, 216);    
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    /* border: 9px solid rgb(58, 145, 36);     */
}

.itemTileIMG {
    height: 400px;
    width: 250px;
    /* border: 2px solid rgb(45, 46, 45);     */
}

.itemInfo {
    border-left: .5px solid gray;
    width: 220px;
    /* border: 2px solid rgb(15, 50, 77);     */
}

/* 
.itemTopInfo {
    border: 2px solid rgb(83, 240, 30);    
} */

.itemMustPackDiv {
    /* border: 2px solid rgb(224, 112, 26);   */
    display: flex;
    padding-right: 10px;
    font-size: 12px;
    margin: 0px;
    justify-content: flex-end;
}

.itemMustPackDiv p {
    height: 10px;
}

.itemSummary {
    /* border: 2px solid rgb(204, 22, 232);   */
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    height: 175px;
    margin-left: 20px;
}

.itemSummaryP {
    padding-top: 20px;
    display: flex;
    justify-content: right;
    /* border: 2px solid orange; */
}

.creatorImgWithName {
    /* border: 2px solid coral; */
    font-size: 12px;
    display: flex;
    margin-bottom: 0px;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    flex-direction: row;
    height: 20px;
}

.creatorImgWithName p {
    /* border: 2px solid red; */
    margin-left: 10px;
}

.imgNameRegionDate {
    /* border: 5px solid rgb(148, 23, 201); */
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom: .5px solid gray;
} 

.itemUserRegion {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 12px;
}

.keywordDiv {
    /* border: 2px solid gold; */
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
}

.keywordDiv p {
    font-size: 15px;
    display: flex;
    color: gray;
    justify-content: center;
}

/* BACK TO TOP BTN */

/* .backToTopDiv {
    border: 2px solid gray;
    display: flex;
    justify-content: flex-end;
    position: sticky;
} */

/* .backToTop {
    background-color: darkslategrey;
    justify-content: center;
    align-content: center;
    color: wheat;
    font-size: 30px;
    border-radius: 50%;
    margin: 10px 30px;
    height: 40px;
    padding: 0px;
    width: 40px;
} */

/* TESTING CSS */
/* .testDiv {
    border: 2px solid orange;
    padding: 30px 60px 30px 80px;
    display: flex;
    justify-content: space-evenly;
}

.ui.card>.image {
    border: 2px solid orange;
    width: 275px;
    height: auto;
    justify-content: center;
}

.ui.card * {
    margin: 0em 0em;
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;
}

.ui.corner.label {
    background-color: transparent!important;
    color: teal;
}

.column {
    display: flex;
    justify-content: center;
    align-content: center;
} */