nav * {
    list-style: none;
    text-decoration: none;
    color: darkslategrey;
}

.topNav {
    display: block;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    /* border: 4px solid yellow; */
    border-bottom: .5px solid rgba(128, 128, 128, 0.317);
    /* position: fixed; */
    margin-bottom: 3em;
    padding-left: 7em;
    padding-right: 7em;
}

.logoDiv {
    /* border: 2px solid rgb(165, 18, 194); */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* width: 300px; */
    height: auto;
    margin-bottom: .5em;
}

.trendagoLogo {
    height: 70px;
    width: auto;
    /* border: 2px solid coral; */
    margin-left: .5em;
    margin-top: 1.5em;
}

.navUL {
    display: flex;
    justify-content: center;
    flex-direction: row; 
    /* border: 2px solid yellowgreen; */
}

.allNavLi {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    /* border: 2px solid skyblue; */
    color: gray;
    width: 60em;
    /* margin-right: 1em; */
}

.aNavLink {
    /* margin-left: em; */
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-weight: 600;
}

.aNavLink:hover {
    transform: scale(1.1);
}

.aNavLink a:hover, a:visited, a:active {
    color: rgb(33, 170, 201);
}

.aNavLink a {
    color: rgb(108, 107, 107);
}